@import 'variables';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   font-family: $font;
   color: white;
   font-size: 16px;
}

.container {
   display: grid;
   grid-template-rows: auto auto 1fr auto;
   grid-template-areas: 'header' 'game' 'results' 'rules';
   justify-items: center;
   background: $bg-gradient;
   min-height: 100%;
   padding: 25px;
}

@import 'components/header';

@import 'components/btn';

@import 'components/game';

@import 'components/results';

@import 'components/modal';
