.btn-rules {
   grid-area: rules;
   display: block;
   padding: 10px 32px;
   margin: 20px;
   background: transparent;
   border: 2px solid $outline;
   border-radius: 8px;
   font-size: 1rem;
   font-family: inherit;
   font-weight: 500;
   text-transform: uppercase;
   transition: border 100ms;
   color: white;
   letter-spacing: 2px;
   cursor: pointer;

   &:hover {
      border-color: lighten($outline, 20%);
   }

   @media (min-width: $breakpoint) {
      justify-self: flex-end;
   }
}
