.game {
   position: relative;
   grid-area: game;
   width: 280px;
   height: 140px;
   margin-top: 80px;
   margin-bottom: 20px;
   justify-self: center;
   background-position: center 70%;
   background-repeat: no-repeat;
   background-size: 70%;

   @media (min-width: $breakpoint) {
      width: 500px;
      height: 240px;
      background-size: 65%;
      background-position: center 60%;
   }

   &--bg {
      height: 240px;
      background-image: url('../images/bg-triangle.svg');

      @media (min-width: $breakpoint) {
         height: 440px;
      }
   }

   &--end {
      .game_item--first {
         transform: translateX(-20px);
         @media (min-width: $breakpoint) {
            transform: translateX(-120px);
         }
      }

      .game_item--second {
         transform: translateX(180px);
         @media (min-width: $breakpoint) {
            transform: translateX(400px);
         }
      }
   }
}

.game_item {
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: transform 400ms;
   transform-origin: center center;

   &--first {
      @media (min-width: $breakpoint) {
         transform: translateX(-40px);
      }
   }

   &--second {
      transform: translateX(160px);

      @media (min-width: $breakpoint) {
         transform: translateX(310px);
      }
   }

   &--third {
      transform: translate(80px, 140px);

      @media (min-width: $breakpoint) {
         transform: translate(140px, 260px);
      }
   }

   &--hidden {
      display: none;
   }

   &--waiting {
      display: block;

      .game_character {
         background: transparent;
         cursor: auto;

         &::before {
            background: rgba(black, 0.3);
         }

         .game_img {
            visibility: hidden;
         }
      }
   }

   &--win .game_character {
      box-shadow: $mobile-win-shadow;

      @media (min-width: $breakpoint) {
         box-shadow: $win-shadow;
      }
   }
}

.game_item--your::after,
.game_item--opponent::after {
   content: 'YOU PICKED';
   display: block;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   margin-top: 30px;
   text-align: center;
   font-weight: 600;
   letter-spacing: 2px;
   font-size: 0.9rem;
}

.game_item--opponent::after {
   content: 'THE HOUSE PICKED';
}

.game_character {
   position: relative;
   display: flex;
   width: 125px;
   height: 125px;
   padding: 40px;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transition: background 200ms;

   &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $item-bg;
      border-radius: 50%;
      width: 75%;
      height: 75%;
   }

   &--blue {
      background: $paper;
   }

   &--yellow {
      background: $scissors;
   }

   &--red {
      background: $rock;
   }

   @media (min-width: $breakpoint) {
      width: 220px;
      height: 220px;
   }
}

.game_img {
   width: 42px;
   z-index: 2;

   @media (min-width: $breakpoint) {
      width: 65px;
   }
}
